@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Poor+Story&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  -webkit-text-size-adjust: none;
}

body {
  font-size: $font-base;
  height: 100%;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Nanum Gothic', sans-serif;
  word-break: keep-all;
}
img {
  max-width: 100%;
  object-fit: cover;
  vertical-align: top;
}

ul,
ol {
  li {
    list-style: none;
  }
}

a {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus,
  &:visited {
    text-decoration: none;
  }
}
input {
  border: none;
  background-color: transparent;
  outline: none;
  appearance: none;
}
button {
  border: none;
  background-color: transparent;
  outline: none;
  appearance: none;
}
