html[data-theme='light'] {
  --color-text: #{$color-black};
  --color-background: #{$bg-white};
  --color-input: #{$color-white};
  --color-button: #{$color-light-grey};
  --color-input-border: #{$color-dark-grey};
}

html[data-theme='dark'] {
  --color-text: #{$color-white};
  --color-background: #{$bg-black};
  --color-input: #{$color-dark-black};
  --color-button: #{$color-light-black};
  --color-input-border: none;
}
