$color-accent: #ff0000;
$color-white: #fff;
$color-black: #333;
$color-light-black: #595858;
$color-dark-black: #000;

$bg-black: #333;
$bg-white: #fff;

$font-base: 14px;

// Breakpoints
$breakpoint-mobile: 375px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;
