@charset "utf-8";

@import 'variables';
@import 'mixin';
@import 'theme';
@import 'reset';
@import 'header';
@import 'videoCard';
@import 'videoDetail';

.main {
  padding: 1rem 0.5rem;
  max-width: $main-max-width;
  margin: 0 auto;
}
